<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Ações</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css"/>
    <style>
      body {
        background-color: #ffffff;
        color:rgb(0, 0, 0);
      }
      form {
       background-color: rgb(255, 255, 255);
       padding:15px;
       position: absolute;
       top:5%;
       left:50%;
       transform: translate(-50%, 5%);
      }
      #label {
        display:inline;
        margin-bottom: 5px;

      }
      #input {
        display: inline-block;
        border:none;
        border-bottom:1px solid black;
      }
    </style>
  </head>
  <body>
    <div id="autenticacao">
      <form action="/acesso" method="post">
        <h1>Sistema de Ações</h1>
        <table>
          <tr>
            <td id="label">Login:</td>
          </tr>
          <tr>
            <td><input id="input" type="text" name="login"></td>
          </tr>
          <tr>
            <td id="label">Senha:</td>
          </tr>
          <tr>
            <td><input id="input" type="password" name="password"></td>
          </tr>
            <% if(erroLogin) { %>
           <tr>
            <td colspan="2">
              <h5>Login ou senha Incorreta</h5>
            </td>
           </tr>
           <% } %>
          <tr>
            <td><input id="btn" type="submit"></td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
