<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Ações</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body {
        background-color: #ffffff;
        color:rgb(0, 0, 0);
      }
      form {
       background-color: rgb(255, 255, 255);
       padding:15px;
       position: absolute;
       top:5%;
       left:50%;
       transform: translate(-50%, 5%);
      }
      #label {
        display:inline;
        margin-bottom: 5px;

      }
      #input {
        display: inline-block;
        border:none;
        border-bottom:1px solid black;
      }
    </style>
  </head>
  <body>
    <form action="">
      <h1>Sistema de Ações</h1>
      <table>
        <tr>
          <td><label  id="label" for="login">Login:</label></td>
        </tr>
        <tr>
          <td><input id="input" type="email"></td>
        </tr>
        <tr>
          <td><label id="label" for="password">Senha:</label></td>
        </tr>
        <tr>
          <td><input id="input" type="password"></td>
        </tr>
        <tr>
          <td><input id="btn" type="submit"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
