<!DOCTYPE html>
<html>
  <head>
    <title>sistema de ações</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color:#212121; color: white;">
    <h1>Sistema de Ações</h1>
    <form action="">
      <table>
        <tr>
          <td><label for="login">Login:</label></td>
          <td><input type="email"></td>
        </tr>
        <tr>
          <td><label for="password">Senha:</label></td>
          <td><input type="password"></td>
        </tr>
        <tr>
          <td><input type="submit"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
