<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário de Acesso</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login" action="/acesso" method="post">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" class="login__input" placeholder="User name" name="login">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" class="login__input" placeholder="Password" name="senha">
          </div>
          <button class="button login__submit">
            <span class="button__text">Log In Now</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>				
        </form>
        <div class="social-login">
          <h3>log in via</h3>
          <div class="social-icons">
            <a href="#" class="social-login__icon fab fa-instagram"></a>
            <a href="#" class="social-login__icon fab fa-facebook"></a>
            <a href="#" class="social-login__icon fab fa-twitter"></a>
          </div>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>
</body>
</html>
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Ações</title>
<<<<<<< HEAD
    <link rel="stylesheet" href="/stylesheets/style.css"/>
=======
    <link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css"/>
    <style>
      body {
        background-color: #ffffff;
        color:rgb(0, 0, 0);
      }
      form {
       background-color: rgb(255, 255, 255);
       padding:15px;
       position: absolute;
       top:5%;
       left:50%;
       transform: translate(-50%, 5%);
      }
      #label {
        display:inline;
        margin-bottom: 5px;

      }
      #input {
        display: inline-block;
        border:none;
        border-bottom:1px solid black;
      }
    </style>
>>>>>>> 896d33c8558fe442f33f10fa2173b4286b22f11b
  </head>
  <body>
    <div id="autenticacao">
      <form action="/acesso" method="post">
        <h1>Sistema de Ações</h1>
        <hr>
        <table>
          <tr>
            <td id="label">Login:</td>
          </tr>
          <tr>
            <td><input id="input" type="text" name="login"></td>
          </tr>
          <tr>
            <td id="label">Senha:</td>
          </tr>
          <tr>
            <td><input id="input" type="password" name="senha"></td>
          </tr>
            <% if(erroLogin) { %>
           <tr>
            <td colspan="2">
              <h5>Login ou senha Incorreta</h5>
            </td>
           </tr>
           <% } %>
          <tr>
            <td><input id="btn" type="submit" value="Acessar"></td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
 -->