<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="newuser" method="post">
       <input type="text" name="name" id="idname" placeholder="Nome:"> 
       <input type="number" name="age" id="ididade" placeholder="Idade:"> 
       <input type="text" name="UF" id="idestado" placeholder="Estado:">
       <input type="text" name="acoes" id="idacoes" placeholder="Cargo:"> 
       <input type="password" name="senha" id="idsenha" placeholder="Senha:"> 
       <input type="submit" value="Cadastrar">
    </form>
</body>
</html>