<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="shortcut icon" href="/images/imagem.png" type="image/x-icon">
    <script src="/javascripts/index.js"defer></script>
</head>
<body>
    <div class="autenticacao" id="autenticacao">
        <form action="newuser" method="post" id="form2">
            <h1>Cadastro</h1>
            
            <label for="login">Usuário:</label>
            <input type="text" name="name" placeholder="João Carlos">
            <br>
            <label for="idade">Idade:</label>
            <input type="text" placeholder="sua idade" name="age">
            <br>
            <label for="Unidade_Federativa" >Unidade Federativa:</label>
            <input type="text" placeholder="RN" name="UF">
            <br>
            <label for="acoes">Cargo:</label>
            <input type="text" placeholder="Admininstração" name="acoes">
            <br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha"  placeholder="1234@exemplo">
            <br>
            <div class="box3" onclick="login()"> 
              <input id="btn" type="button" value="Voltar">
              <hr>
            </div>
            <div class="box4">
              <input  id="btn" type="submit" value="Cadastrar">
              <hr>
            </div>
          </form>
    </div>
</body>
</html>